<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restaurante</property>
    <property name="hibernate.connection.username">user_facturacion</property>
    <property name="hibernate.connection.password">pass_facturacion</property>
    
    
    <mapping class="com.mx.restaurante.beans.Operacion"/>
    <mapping class="com.mx.restaurante.beans.Personal"/>
    <mapping class="com.mx.restaurante.beans.Estacion"/>
    <mapping class="com.mx.restaurante.beans.Sucursal"/>
    <mapping class="com.mx.restaurante.beans.Usuario"/>
    <mapping class="com.mx.restaurante.beans.Asistencia"/>
    <mapping class="com.mx.restaurante.beans.Mesa"/>
    <mapping class="com.mx.restaurante.beans.Familia"/>
    <mapping class="com.mx.restaurante.beans.Area"/>
    <mapping class="com.mx.restaurante.beans.Grupo"/>
    <mapping class="com.mx.restaurante.beans.Carta"/>
    <mapping class="com.mx.restaurante.beans.Variante"/>
    <mapping class="com.mx.restaurante.beans.Modificador"/>
    <mapping class="com.mx.restaurante.beans.Precio"/>
    <mapping class="com.mx.restaurante.beans.Venta"/>
    <mapping class="com.mx.restaurante.beans.DetalleVenta"/>
    <mapping class="com.mx.restaurante.beans.DetalleModificador"/>
    <mapping class="com.mx.restaurante.beans.Folio"/>
    
  </session-factory>
</hibernate-configuration>
