<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restaurante</property>
    <property name="hibernate.connection.username">user_facturacion</property>
    <property name="hibernate.connection.password">pass_facturacion</property>
    
    <mapping class="com.mx.restaurante.beans.Carta"/>
    
    <!--  
    <mapping resource="com/mx/restaurante/hbm/Operacion.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Personal.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Estacion.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Sucursal.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Usuario.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Asistencia.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Mesa.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Familia.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Area.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Grupo.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Variante.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Modificador.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Precio.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Venta.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/DetalleVenta.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/DetalleModificador.hbm.xml"/>
    <mapping resource="com/mx/restaurante/hbm/Folio.hbm.xml"/>
    -->
  </session-factory>
</hibernate-configuration>
